body {
    background-image: url(images/DSC_0108.JPG);
    background-size: auto;
    background-position: center;
}
h1.codeQuiz {
    color: white;
}
div.timer {
    color: white;
}
div.theGame {
    background-color: black;
    color: white;
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header {
    background-color: black;
    padding-bottom: 20px;
}
